{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

{% endblock %}
{% block content %}
<div class="text-center searchre">
<p> You have searched for:<b>{{query}}</b></p>
    </div>
<div class="container">
        <div class="row mx-auto">
            {% for products in product %}
            <div class="myrowclass col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                <div class="mybottommargin">

           <a href="{{products.get_url}}"><img class="card-img" src="{{products.image.url}}" alt="{{products.name}}"></a>


        <div class="cardbody">
            <h4>{{products.name}}</h4>
            <p>${{products.price}}</p>
 </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-center searchre">
            <p>0 results found</p>
            </div>
        {% endfor %}

{% endblock %}


